.chatName {
  font-size: 14px;
  font-weight: 750;
  line-height: 18px;
  color: #0f172a;
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Dark mode */
:global(.dark-mode) {
  .chatName {
    color: #f8fafc;
  }
}
